.wrapper {
  background: url('assets/images/background.png') repeat;
  /* background-size: cover; */
  position: fixed;
  font-size: min(30px,max(4vw,20px));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.top-bar {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 5px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}