@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

div.backgroundPanel {
    animation: fadein 0.2s;
    transition: all 10s;
    position: fixed;
    z-index: 1;
    background: rgba(15, 6, 58, 0.441);
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.horizontalWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
    font-weight: 800;
    color: rgb(198, 216, 231);
}

.horizontalWrapper button{
    font-size: min(20px,max(4vw,10px));
}

h1.title {
    margin-top: min(5vh,100px);
    width: fit-content;
    max-width: 90vw;
    font-size: max(2.5rem, 50px);
}

.panel {
    box-shadow: 8px 8px 2px rgb(6, 41, 62);
    background: #d7fff1c7;
    min-width: min(400px,max(300px,60vw));
    min-height: min(400px,max(60vh,300px));
    position: fixed;
    top: 20%;
    margin: auto;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
    z-index: 2;
    border-radius: 4px;
}

.panel * {
    font-size: min(1.5rem, 30px);
    border-radius: 4px;
    font: '#3F4B3B';
    font-weight: 900;
}

.panel .title {
    font-size: min(50px,max(4vw,30px));
    -webkit-text-stroke: 2px #0a1212;
    color: #f9fffe;
}

.panel .tmpdiv {
    width: 100%;
}
.panel .subtitle {
    display: flex;
    justify-items: center;
    font-size: 25px;
    -webkit-text-stroke: 1px #0a1212;
    color: #f9fffe;
}

.panel input {
    width: 150px;
    margin: 5px;
    text-align: center;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: fit-content;
    width: 100%;
    margin: auto;
    align-items: center;
}

.buttonGroup button {
    font-size: min(20px,max(2rem,20px));
}

.panel button {
    transition: all 0.2s;
    background-color: #D8E6E7;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: 900;
    width: 100%;
}

.panel button:hover {
    background-color: #9DC3C1;
}

.panel button:hover {
    background-color: #77AAAD;
}

.title {
    font-size: 70px;
    color: rgba(255, 179, 80, 0);
    font-weight: 10000;
    text-shadow: 0px 0px 10px rgb(120, 151, 6);
    -webkit-text-stroke: min(4px,0.1rem) #d4e51f;
    text-align: center;
}

button{
    transition: all 0.2s;
    background-color: #e2fafdd2;
    border-radius: 5px;
    margin: min(10px,max(2vh,3px));
    padding: 5px;
    font-size: min(90px,max(1rem,15px));
    font-weight: 1000;
    width: 100%;
}

button:hover{
    background-color: #bbecffe7;
}

button:active{
    background-color: #9de2eedc;
}