.game-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3ea4d3a2;
    box-shadow: 0px 10px 10px #1d3304;
    border-radius: 10px;
    min-width: fit-content;
    width: min(500px,60vw);
    padding: max(0.5rem,10px);
    margin: auto;
    margin-top: min(5vh,10px);
    font-weight: 800;
    color: rgb(198, 216, 231);
}

.game-panel button {
	width: fit-content;
    font-size: min(30px,max(1rem,20px));
}

.game-panel > .inner-panel {
	box-sizing : border-box;
    background-color: #adc8d39f;
    padding: max(1vh,10px);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: min(5vh,10px);
    align-items: center;
    border-radius: 10px;
}

table.board {
    min-width: fit-content;
    table-layout: fixed; 
}

.board td {
    border: 2px solid black;
    width: min(max(18px, 1vw), 23px);
    height: min(max(18px, 1vw), 23px);
    min-width: min(max(18px, 1vw), 23px);
    min-height: min(max(18px, 1vw), 23px);
    max-width: min(max(18px, 1vw), 23px);
    max-height: min(max(18px, 1vw), 23px);
    font-size: min(max(14px, 0.5vw), 16px);
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(255, 229, 101);
    cursor: pointer;
}

.board .recent {
    border: 2px solid rgb(243, 45, 19);
}