.gamePanel {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.gamePanel button {
    width: fit-content;
}

table.board {
    margin: auto;
}

.board td {
    border: 2px solid black;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(255, 229, 101);
    cursor: pointer;
}

.board .recent {
    border: 2px solid rgb(243, 45, 19);
}