.homePanel {
    background-color: #ffb84eb7;
    box-shadow: 0px 10px 10px #1d3304;
    border-radius: 10px;
    width: fit-content;
    padding: max(0.5rem,10px);
    margin: auto;
    margin-top: min(5vh,10px);
}

.homePanel > div {
    background-color: #fffd85a2;
    padding: max(3rem,50px);
    padding-top: max(2rem,20px);
    padding-bottom: max(2rem,20px);
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
    align-items: center;
    border-radius: 10px;
}

.grid-group {
    display: grid;
    min-width: min(400px,50vw);
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-template-rows: repeat(auto-fill, 70px);
    grid-gap: 10px 10px;
    place-content: stretch stretch;
}
.grid-group img {
    width: 100%;
    height: 100%;
}
.grid-group img:hover {
    opacity: 80%;
}
.grid-group img:hover {
    opacity: 80%;
}

.grid-group img.selected {
    opacity: 70%;
}