.homePanel {
    background-color: #3ed3bf;
    box-shadow: 0px 10px 10px #1d3304;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin: auto;
}

.homePanel > div {
    background-color: #8FBC94;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: auto;
    align-items: center;
    border-radius: 10px;
}

.grid-group {
    display: grid;
    min-width: 400px;
    width: 100%;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-template-rows: repeat(auto-fill, 70px);
    grid-gap: 10px 10px;
    place-content: stretch stretch;
}
.grid-group img {
    width: 100%;
    height: 100%;
}
.grid-group img:hover {
    opacity: 80%;
}
.grid-group img:hover {
    opacity: 80%;
}

.grid-group img.selected {
    opacity: 70%;
}