.cancel {
    transition: all 0.2s;
    position: absolute;
    right: min(5px, 1vw);
    top: min(5px, 1vw);
    width: fit-content;
    padding: 6px;
    background-color: rgb(127, 255, 212);
    margin: 0;
}


.cancel:hover {
    background-color: rgb(90, 180, 180);
}

.cancel:active {
    background-color: rgb(60, 120, 120);
}

.cancel::after {
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: min-content;
    height: min-content;
    content: "✖";
    color: aliceblue;
}