@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.fadein {
    animation: fadein 0.2s;
}

.fadeout {
    animation: fadeout 0.2s;
}

.messageBox {
    position: fixed;
    right: 0;
    left: 0;
    top: 5%;
    width: 35%;
    margin: auto;
    max-width: 300px;
    z-index: 999;
}

.message {
    transition: position 0.2s;
    background: rgba(130, 226, 184, 0.696);
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 1000;
    padding: 6px;
    border: 5px solid rgba(44, 215, 224, 0.847);
    border-radius: 10px;
    width: 100%;
    box-shadow:4px 4px 15px rgb(6, 41, 62);
}