.loginbar {
    position: fixed;
    right: 5px;
    top: 5px;
    margin: 5px;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-end;
}

.name {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: green;
    width: 100%;
}



.loginbar button {
    transition: all 0.2s;
    background-color: #D8E6E7;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: 900;
    width: fit-content;
}

.loginbar button:hover {
    background-color: #9DC3C1;
}

.loginbar button:hover {
    background-color: #77AAAD;
}